*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}
#Objectives, #Education{
    padding-top: 60px;
}
        /* NAVBAR */
.darkblue{
    background: linear-gradient(to right,  #0c061ca2 30%, #0c061ca2 31%, #0c061c57 60%, #EEEEEE  80%);
    color: #fff;
}
input{
    display: none;
    visibility: none;
}
.topIcon{
    background-color: #0c061c;
}
.logo{
    height: 80%;
    display: block;
}
.logo img{
    height: 100%;
    width: 100%;
}
#home{
    border-bottom-right-radius: 15px;
}
.logo:visited{
    color: #fff;
}
.logo:hover{
    transform: scale(.9);
    cursor: pointer;
}
label{
    font-size: 2rem;
    cursor: pointer;
}

.navContainer{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #0c061c;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    line-height: 60px;
    list-style: none;
    gap: 2px;
}
nav ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #0c061c;
}
nav ul li:hover{
    transform: scale(.8);
    cursor: pointer;
}
nav ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
nav ul li a p{
    margin-right: 5%;
}

        /* OJECTIVES */
.container{
    height: 650px;
    width: 100%;    
    background-image: url('./imgs/whatsup.jpeg');
    background-size: cover;
    background-position-y: -4rem;
    background-repeat: no-repeat;
}
.bgOpacity{
    width: 100%;
    height: 100%;
    background-color: rgba(12, 6, 28, 0.822);
}
.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.col-1{
    width: 100%;
    color: #fff;
}

.col-1 h1{
    font-size: 300%;
    color: #fff;
}
.col-1 h2{
    font-size: 300%;
}
.col-1 p{
    font-size: 150%;
}
.col-1 p span{
    color: #2d0794;
    font-size: 200%;
    font-weight: 700;
}
.actionBtn{
    width: 34%;
    height: 40px;
    margin-top: 20px;
    padding: 4px;
    display: block;
    background-color: #2d0794;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
}
.toggle{
    display: none;
}
.close{
    display: none;
}
.small a{
    display: none;
}

                /* Education */
.EduConatiner{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.EduName{
    margin: 50px 0;
    text-align: center;
    font-size: 2rem;
}
.EduRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    padding-bottom: 5px;
    border-bottom: 0;
    background-color: #0c061ca2;
    box-shadow: rgba(0, 0, 0, 0.46) 0px 3px 6px, rgba(0, 0, 0, 0.53) 0px 3px 6px;
}
.card.spanOrange{
    grid-column: 1/2 span;
}
.card.span{
    grid-column: 1/3 span;
}
.card:hover{
    border-bottom: 1px solid #fff;
}
.colImg{
    display: block;
    height: 200px;
    width: 100%;
}
.cardText{
    padding: 10px;
}
/* PROJECTS */
.ProConatiner{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.ProName{
    margin: 50px 0;
    text-align: center;
    font-size: 2rem;
}
.ProRow{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.ProCol{
    position: relative;
    cursor: pointer;
} 
 .ProCol .hover{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
    background-color: #0a0519e7; 
    transition: 2s ease-in;
    opacity: 0;
}
.ProCol:hover .hover{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: #fff;
}

                /* contact */
.ConConatainer{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 20px;
    background-color: #0c061c;
}
.foot-col{
    color: #fff;
                }
.foot-col h2{
    margin: 10px 0;
    font-size: 2rem;
    text-align: start;
}
.foot-col .icons{
    display: flex;
    justify-content: space-around;
}              
.space{
    font-size: 1.5rem;
    color: #fff;
}
.space:visited{
    color: #fff;
}
.cont{
    margin: 4px 0;
    text-align: start;
}
                /*    media     */

@media(max-width: 950px){
    .navContainer{
        border-bottom: 1px solid #fff;
    }
    nav{
        width: 90%;
    }
    nav ul li{
        height: calc(100% - 2px);
    }
    nav ul li a h3{
        display: none;
    }
    nav ul li a p{
        margin: 0;
    }
    label{
        display: none;
    }
    .container{
        height: 350px;
        background: #0c061ca2;
        /* background: none; */
    }
    .row{
        grid-template-columns: 1fr;
    }
    .col-1{
        margin: 0 auto;
        width: 90%;
    }
    .col-1 h2{
        display: none;
    }
    .col-1 h1{
        margin-bottom: 16px;
    }
    .col-1 p span{
        color: #fff;
        font-size: 100%;
    }
    .actionBtn{
        margin-top: 24px;
        width: 20%;
        font-size: 22px;
    }
    .col-2{
        display: none;
    }
    .EduConatiner{
        width: 90%;
    }
    .EduName{
        margin: 0;
        padding: 15px;
    }
    .EduRow{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .card.spanOrange{
        grid-column: 1/1 span;
    }
    .card.span{
        grid-column: 1/2 span;
    }
    .ProConatiner{
        width: 90%;
    }
    .ProName{
        margin: 0;
        padding-bottom: 30px;
    }
    .ProRow{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media(max-width: 565px){
    #Objectives{
        padding-top: 0;
    }
    .container{
        height: 400px;
    }
    
    nav{
        position: fixed;
        height: 100vh;
        right: -500px;
        width: 80%;
        background-color: #c0c2c8f4;
        flex-direction: column;
        justify-content: flex-start;
        transition: 2.5s all ease;
        z-index: 999;
    }
    nav > a{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #26262d;
    }
    #home{
        margin-top: 60px;
        border-bottom-right-radius: 0;
    }
    .logo{
        padding: 0;
        height: auto;
        margin: 2px;
    }
    .logo img{
        height: 30px;
        width: 30px;
    }
    nav ul li a h3{
        display: block;
        height: 20px;
        margin-left: 15px;
    }
    nav ul{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 55px;
    }
    nav .close{
        position: absolute;
        display: block;
        left: 5%;
        top: 2%;
        background-color: #0c061c;
        font-size: 1rem;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
    }
    #toggle:checked + nav{
        transform: translateX(-500px);
    }
    .toggle{
        display: block;
        text-align: end;
        margin-right: 20px;
        height: 50px;
        line-height: 50px;
        color: #0c061ca2;
    }
    .col-1{
        width: 100%;
        color: #fff;
        line-height: 30px;
        display: flex;
        flex-direction: column;
    }
    .col-1 h2{
        display: none;
    }
    .col-1 h1{
        margin-top: 0px;
        font-size: 150%;
        color: #fff;
    }
    .col-1 p{
        margin: 0;
        font-size: 120%;
    }
    .col-1 p span{
        color: #fff;
        font-size: 100%;
        font-weight: 700;
    }
    .actionBtn{
        margin-top: 20px;
        align-self: center;
        width: 40%;
        font-size: 20px;
    }
    .small{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .small a{
        display: block;
        text-decoration: none;
        color: #fff;
        margin-left: 20px;
        font-size: 1.3rem;
        font-weight: 700;
    }
    .none{
        display: none;
    }
    .EduRow{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card{
        background-color: #0c061ca2;
    }
    .card.spanOrange{
        grid-column: 1/1 span;
    }
    .card.span{
        grid-column: 1/1 span;
    }
    .ProRow{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .ProConatiner{
        width: 80%;
    }
    .borderRad{
        height: 300px;
    }
    .borderRad, .ProCol .hover{
        border-radius: 4px;
    }   
    .ConConatainer{
        flex-direction: column;
        height: 200px;
        background-color: transparent;
        width: 80%;
    }
    .foot-col h2{
        font-size: 1.5rem;
    }
    .space{
        margin-left: 10px;
    }
}